@charset "UTF-8";

/* 1. Box sizing, 2. Limpeza de Espaços */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 3. Comportamento base da página */
html,
body {
  width: 100%;
}

html {
  font-size: 16px; /* ou uso de unidades relativas */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans 3", sans-serif;
  color: #3a3a3a;
  letter-spacing: 0.1px;
}

/* 4. Melhorias em elementos de mídia */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* 5. Herdando estilos de fonte em formulários */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Evitando estouro de texto */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*Seletores Universais Acima.*/

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  margin: auto;
  background: #e4d8c49a;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.LE {
  margin: auto;
  padding: 7px 1px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
}

.topo {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: clamp(16px, 4vw, 44px);
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.dividir,
.dividir-2 {
  width: 80%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #b08a5a 20%,
    #b08a5a 80%,
    transparent
  );
  position: relative;
  margin: 10px auto;
}

h3 {
  z-index: 0;
  font-weight: 450;
  font-size: clamp(14px, 1vw, 20px);
  color: #2c2a2a;
  margin-top: 10px;
}

.dividir::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #b08a5a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sparkle {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding: auto 100px;
  margin: auto;
}

.sparkle .big {
  font-size: 14.5px;
  color: #c9a66b;
  position: absolute;
  margin: auto 6px;
}

.sparkle .small {
  font-size: 12.7px;
  color: #c9a66b;
  position: absolute;
  padding: 11px;
  margin-top: -2px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 450;
  font-size: clamp(14px, 2.5vw, 26px);
  line-height: 1.4;
  text-indent: 12px;
  word-spacing: 2px;
  margin-top: 5px;
}

button {
  grid-column: 1 / -1;
  justify-self: center;
  margin: 7px auto 10px auto;
  width: 50vw;
  font-family: "Source Sans 3", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  background: #f6f2eb;
  color: #2f2f2f;
  border: 1px solid #e5dccd;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.75s ease;
}

button:hover {
  background: #c9a66b;
  color: white;
  border-color: #c9a66b;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.LD {
  margin: 0;
  height: 200px;
  opacity: 0.6;
  -webkit-mask-image: radial-gradient(    circle,    rgba(0, 0, 0, 1) 80%,    rgba(0, 0, 0, 0) 100%  );
  mask-image: radial-gradient(    circle,    rgba(0, 0, 0, 1) 80%,    rgba(0, 0, 0, 0) 100%  );
  transform: translateX(-4vw);
  display: flex;
  justify-content: center;
  width: 121%;
}

.LD img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  -webkit-mask-image: radial-gradient(    circle,    rgba(0, 0, 0, 1) 60%,    rgba(0, 0, 0, 0) 100%  );
  mask-image: radial-gradient(    circle,    rgba(0, 0, 0, 1) 60%,    rgba(0, 0, 0, 0) 100%  );
  border-radius: 20px;
  width: clamp(350px, 40vw, 600px);
}

/*Início Section especifico*/

.especifico {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontal */
  justify-content: center; /* centraliza vertical */
  text-align: center;
  padding: 0 20px;
  background-color: rgba(233, 218, 230, 0.384);
} .especifico h3 {
  font-size: clamp(14px, 1vw, 20px);
  color: #2c2a2a;
  font-weight: 450;
} .dividir-2 {
  margin-bottom: -1px;
}

/*Início Section beneficios*/

.beneficios {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background: #e4d8c49a;
}

.titulo {
  padding: 3px;
  text-align: center;
  background:  rgba(233, 218, 230, 0.384);
  color: rgb(58, 38, 54);
  margin: -20px auto 10px auto;
  border-radius: 50px;
  font-size: clamp(14px, 1vw, 20px);
  text-shadow: 0 2px 12px rgba(0,0,0,0.18);
}

.texto-beneficios {
  font-size: clamp(12px, 2vw, 26px);
  color: rgb(41, 23, 37);
  padding: 25px;
  margin: 5px;
}

hr {
  background-color: rgb(184, 160, 179);
  border: none;
  height: 1px;
  width: 90%;
}

.imagem-chamativa {
  opacity: 0.65;
  border-radius: 10px;
  margin: auto;
  width: 125%;
  transform: translateX(-8vw);
  object-fit: cover;
  object-position: center top;
}
